<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
</head>
<body id="page-top">
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">TMS</a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/dashboard">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tasks/addTask">Add Task</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tasks/tasks">Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tasks/Completed">Completed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tasks/Incompleted">Not-completed-on-time</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-link dropdown">
                        <a class="nav-link active " href="/users/logout" role="button" aria-haspopup="true"
                            aria-expanded="false" style="color: black;">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

 
<!-- //////////////////////////////////////////////////////////////-->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">       

                <!-- Begin Page Content -->
                <div class="container-fluid">

                <!-- Page Heading -->
                <div class="colordpart">
                    <div class="welcome-text">
                        <h3 class="mb-2 text-gray-800">Great job! These are all your completed tasks:</h3>
                    </div>
                    <div class="logo-container">
                        <img src="https://i.ibb.co/3RFVYHJ/Screenshot-2023-06-23-163918.png" alt="Logo" width="100"
                            height="100" class="logo">
                    </div>
                </div>


                    <!-- DataTales Example -->
                    <div class="list-group">
                        <%taskList.forEach((task) => {%>
                            <% if (task.state) { %>
                                <div class="list-group-item list-group-item-success">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1"><%= task.name%></h5>
                                        <small>
                                          due time: 
                                          <%= (new Date(task.dueDate)).getDate() %>/
                                          <%= (new Date(task.dueDate)).getMonth()+1 %>/
                                          <%= (new Date(task.dueDate)).getFullYear() %>
                                        </small>                                  
                                      </div>
                                      <div class="d-flex w-100 justify-content-between">
                                          <p class="my-3"><%= task.description%></p>
                                          <small class="text-muted">
                                              
                                          </small>                                  
                                        </div>
                                      <small class="text-muted">
                                          <% if (task.state) { %>
                                              <button type="button" onClick="parent.location='incomplete/<%= task._id %>/completed'" class="btn btn-warning">Incomplete </button>
                                          <%} else { %>
                                              <button type="button" onClick="parent.location='Complete/<%= task._id %>/completed'" class="btn btn-success">Complete</button>        
                                          <% } %> 
                                          
                                          <button type="button" onClick="parent.location='deleteTask/<%= task._id %>/completed'" class="btn btn-danger">Delete</button>
                                      </small>
                                    </div>
                            <%}%>                
                                
                        <%})%>
                        
                      </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Web project 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/dashboard">Logout</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>